@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@import url('https://fonts.cdnfonts.com/css/miama');
                

body{
    font-family: "Inter", sans-serif;
    background-color: black;
    max-width: 1440px;
    margin: 0 auto;
}
main{

    margin-top: 80px;
}

/* shared styles here  */

.section-title{
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
    font-weight: 900;
}

.section-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 500;
}
.btn-primary{
    
    border-radius: 42px;
    
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
   

    padding: 18px 35px;
    border-radius: 40px;
    border: none;
    
    font-weight: 700;
    font-size: .9rem;
    font-weight: bold;
}
.btn-primary-2{
    border-radius: 42px;
    padding: 18px 35px;
    border-radius: 40px;
    font-weight: 700;
    font-size: .9rem;
   
    color: rgb(255, 255, 255);
    background-color: #111111;
    border: 1px solid rgb(255, 255, 255);
}

/* header styles here  */
.header{
    background-color: #111111;
    /* max-width: 1440px; */
}

/* nav styles here */
.nav-hamburger-menu{
    display: none;
}
.nav-hamburger-menu i{
    font-size: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding-top: 50px;

}

.nav-title{
    font-weight: 800;
    font-size: 3rem;
    color: rgb(230, 83, 60);
}
nav ul{
    display: flex;
    align-items: center;

    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
}

nav ul li{
    list-style: none;
    margin-right: 28px;
}
nav li a{
    text-decoration: none;
    font-size: 1.25rem;
    color:rgb(255, 255, 255);
}
.home{
    border-radius: 46px;
    background: rgb(230, 83, 60);
  
    padding: 7px 16px;
    margin-left: 0px;

      /* width: 30px; */
    /* height: 30px; */
    /* margin-right: 20px; */
}

/* banner styles here  */
#shape{
    font-family: 'Miama', sans-serif;
    font-size: 9rem; 
    font-weight: 400;
    line-height: .5;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 214px 0 190px;
    position: relative;
}

.banner-title{
    font-weight: 700;
    font-size: 4.2rem;
    color: rgb(255, 255, 255);
}
.banner-image{
   /* max-width: 349px; */
}
.banner-image{
    width: 100%;
}
.banner-content{
    /* width: 520px; */
}

.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 70px;
}

.videos-blur{
    background: rgba(255, 255, 255, 0.1);
    color: white;
    position: absolute;
    left: 810px;
    top: 120px;
    border-radius: 12px;
    backdrop-filter: blur(20px);

    width: 170px;
    height: 99px;
}
.videos-blur p{
    color: rgba(255, 255, 255, 0.65);
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 65px;
}
.videos-blur h2{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0px;
}
.videos-blur div{
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}
.tutorial-blur{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background: rgba(255, 255, 255, 0.1);
    color: white;

    border-radius: 12px;
    backdrop-filter: blur(20px);

    width: 170px;
    height: 94px;

    top: 410px;
    left: 490px;
}
.tutorial-blur h2{
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0px;
}
.tutorial-blur p{
    color: rgba(255, 255, 255, 0.65);
    font-size: .8rem;
    font-weight: 400;

}

#circle{
    width: 25%;
    height: 30%;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    margin-left: 2px;
}
.button{
    display: flex;
    gap: 10px;
}

/* habits-section-container styles here  */

.habits-section-container{
    width: 75%;
    height: 452px;
    border: 2px solid;
    margin: 0px auto;
    border-radius: 18px;

    /* background: rgb(34, 34, 34); */

    margin-bottom: 100px;

    
}
.habits-text-content{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.movement{
    width: 150px;
    height: 150px;

}

.movement img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
.movement h5{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0%;

}
.habits-image-container{
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    /* width: 100%; */
    /* margin: 0 auto; */
    margin-top: 40px;
    margin-left: 80px;
}

/* run section container styles here  */
.run-section-container{
    width: 75%;
    height: 371px;
    border: 2px solid;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;

    border-radius: 18px;

    background: rgb(34, 34, 34);

    
}
.run-section-text{
    width: 40%;
    margin-top: 30px;

}
.run-section-image{
    width: 366px;
    height: 360px;
    margin-top: 70px;
    border-radius: 18px;
}
.run-section-image img{
    width: 100%;
    border-radius: 18px;
}

/* calculator section container styles starts here  */
.calculator-section-container{
    /* width: 75%; */
    height: 700px;
    border: 2px solid;
    /* margin: 0px auto; */
    /* border-radius: 18px; */
    margin-top: 40px;
    margin-bottom: 60px;
}
.calculator-text-content{
    width: 45%;
    margin: 0 auto;
}
.table-container{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
}
.calculator-table-content{
    width: 75%;
    height: 470px;
    /* border: 2px solid red; */
    margin: 0px auto;
    display: flex;

    margin-top: 40px;

    justify-content: center;
    align-items: center;

}

.calculator-table-section{
    width: 45%;
    height: 470px;
    /* border: 2px solid red; */

    /* margin-top: 50px; */
  
}
.calculator-table-section h3{

    margin-top: 50px;
    margin-bottom: 50px;
}
/* table section styles starts here  */
table{
    border-collapse: collapse;
    color: white;
}
td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 25px ;
}

/* calculator input section styles here  */

.qna-child{
    /* border: 2px solid; */
    width: 45%;
    /* gap: 200px; */
    margin: 0 auto;
}

.form-field{
    width: 48%;
    /* border: 2px solid; */
    margin-top: 20px;
}
.form-container{
    /* border: 2px solid; */
    display: flex;
    flex-wrap: wrap;
}
.form-field-text-area{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}
.form-container input, textarea,select, option{
    /* border: 2px solid; */
    width: 90%;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color:rgba(255, 255, 255, 0.575) ;
    font-weight: 700;
    border: none;

}

.chart-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

/* team section container styles starts here  */
.team-section-container{
    width: 75%;
    height: 700px;
    border: 2px solid;
    margin: 0px auto;
    border-radius: 18px;
    margin-top: 40px;

   
    /* background: rgb(34, 34, 34); */
    /* margin-bottom: 100px; */
    /* background: rgb(34, 34, 34); */
    

}

.team-text-content{
    width: 60%;
    margin: 0 auto;
    text-align: center;

}
.team-image-content{
    width: 100%;
    height: 550px;
    border: 2px solid;
    margin: 0px auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);

    margin-top: 30px;
    text-align: left;

    display: grid;
    grid-template-columns: repeat(3, 1fr);


}
.position{
    top: 160px;
    left: 10px;
    position: absolute;
}
.team-image{
    width: 300px;
    height: 250px;
    position: relative;
    border-radius: 18px;
    /* margin: 8px; */
    margin-top: 15px;
    margin-left: 12px;
    
}
.team-image img{
    width: 100%;
    height: 100%;
    border-radius: 18px;

}
.team-image h5{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: -10px;
    
    

}

 /* unique section container styles here  */
 .unique-section-container{
    width: 75%;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    height: 600px;
    margin-top: 130px;

}

.news-card{
    width: 75%;
    box-shadow: 3px 3px 4px 0px rgba(255, 255, 255, 0.575);
    color: rgba(255, 255, 255, 0.5);
    margin-left: 28px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.575);
    padding: 10px;

}
.news-card img{
    width: 100%;
    border-radius: 18px 18px 0px 0px;
}
.news-card h3{
    color: white;
}
.text-center{
    text-align: center;
    padding-top: 40px;

}
.news-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* footer section styles starts here  */
footer{
    background: rgba(255, 255, 255, 0.1);
    height: 400px;
    margin-top: 100px;
}
.footer-section-container{
    width: 100%;
    /* border: 2px solid; */
    margin: 0px auto;
    margin-top: 40px;

    display: grid;
    grid-template-columns: 1.70fr 1fr 1fr;
    text-align: start;
    gap: 20px;
    padding-top: 70px;
}
.footer-main-container{
    width: 75%;
    /* border: 2px solid; */
    margin: 0px auto;
    text-align: center;
}
hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.footer-brand{
    font-weight: 700;
    font-size: 3rem;
    color: rgb(230, 83, 60);
    margin-bottom: 2px;
    margin-top: 0px;
}
.get-title{
    color: rgb(255, 255, 255);
}
.get-started h5{
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 500;
}
